*.iml
.gradle
.idea/
*.iml
.idea/*
!.idea/codeStyles
!.idea/runConfigurations
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
compiler.xml
misc.xml
kotlic.xml
vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/core/database/schemas/com.ssk.core.database.database.SpendLessDatabase/1.json
/.kotlin/errors/errors-1741792821992.log
/.kotlin/errors/errors-1741792879594.log
/.kotlin/errors/errors-1741792978361.log
/.kotlin/errors/errors-1741793021860.log
/.kotlin/errors/errors-1741793144405.log
/.kotlin/errors/errors-1741793213361.log
/.kotlin/errors/errors-1741793264672.log
/.kotlin/errors/errors-1741793483520.log
/.kotlin/errors/errors-1741793555564.log
/.kotlin/errors/errors-1741793818380.log
/.kotlin/errors/errors-1741793844164.log
/.kotlin/errors/errors-1741793910212.log
/.kotlin/errors/errors-1742574019445.log
