*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
compiler.xml
misc.xml
kotlic.xml
vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
